<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <div class="container text-center">
    <h1>Enter Todays Weight to get Started!</h1>

    <form action="/weight" method="POST">
      {{!-- <input name="todaysWeight" type="number" placeholder="todays Weight"> --}}


      <div id="flex-me" class="def-number-input number-input safari_only">
        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus btn btn-danger"
          type="button">-</button>
        <input class="quantity form-control" min="0" name="todaysWeight" type="number" placeholder={{weight}}>
        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus btn btn-success"
          type="button">+</button>

      </div>
      <button type="submit" class="btn btn-primary">Update My Weight And Get Started!</button>

      <a href="/dashboard">Or Press Here if you Prefer not to answer</a>
    </form>
  </div>

</body>

</html>