<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>This is your daily weight page</h1>

  <form action="/weight" method="POST">
    <input name="todaysWeight" type="number" placeholder="todays Weight">
    <button type="submit">Enter</button>

    <button type="submit">Or press here if you prefer not to answer</button>
  </form>

</body>

</html>