<head>
  <link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css">
  <link rel="stylesheet" href="/assets/register.css">
  <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">

</head>

<header id="navbar-label">
    <h1>SandFit Fitness App</h1>
  </header>

<nav style="height:3em" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div id="userName" class="navbar-brand">Hello {{username}}</div>
  <div id="cal-calc">{{calories}}  Daily Calories  -  {{calsToday}}  Eaten Today  =  {{remaining}} Calories Left Today!</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
  </div>
</nav>

<form>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="btn-group mt-4">
          <button type="button" id="dropdownMenu1" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span id="ddm1Text"> What muscle group would you like to work today? </span>
          </button>
          <div id="exercise" class="dropdown-menu">
            <a id="e1" value="1" class="dropdown-item">legs</a>
            <a id="e2"  value="2" class="dropdown-item">arm</a>
            <a id="e3"  value="3" class="dropdown-item">back</a>
            <a id="e4"  value="4" class="dropdown-item">cardio</a>
            <a value="5" class="dropdown-item">core</a>
          </div>
        </div>
      {{!-- </div>
    </div>
  </div> --}}
  {{!-- <div class="container">
    <div class="row">
      <div class="col 12 text-center"> --}}
        <div class="btn-group mt-4">
          <button type="button" id="dropdownMenu2"class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span id="ddm2Text"> What skill level would you like? </span>
          </button>
          <div id="intensity" class="dropdown-menu">
            <a value="6" class="dropdown-item">1</a>
            <a value="7" class="dropdown-item">2</a>
          </div>
        </div>
      </div>
    </div>
    </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12 mt-5 text-center">
              <button id="daily-workout" type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div id="exercise-diagram" class="col-md-12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<br>
<div id="cardDisplay" class="container">
  <div class="row">
    <div id ="cardColumn" class="col-md-12 text-center">
      {{!-- <h1>Your Exercises</h1> --}}
      <div id="new"></div>
      <div id="cardHolder"></div>
    </div>
  </div>
</div>
<br>


<script src="DOM/dashboard.js"></script>