
  <nav style="height:5em" class="navbar navbar-expand-lg navbar-light bg-light">
    <a id="userName" class="navbar-brand">Hello <span id="unique-user"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    </div>
  </nav>

  <form>
    <div class="container">
      <div class="row">
        <div class="col 12 text-center">
          <div class="btn-group dropright mt-4">
            <button type="button" class="btn btn-secondary btn-lg dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              What would you like to do today?
            </button>
            <div id="exercise" class="dropdown-menu">
              <a value="1" class="dropdown-item">Legs</a>
              <a value="2" class="dropdown-item">Arms</a>
              <a value="3" class="dropdown-item">Back</a>
              <a value="4" class="dropdown-item">Chest</a>
              <a value="5" class="dropdown-item">Core</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col 12 text-center">
          <div class="btn-group dropright mt-4">
            <button type="button" class="btn btn-secondary btn-lg dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              What intensity would you like?
            </button>
            <div id="intensity" class="dropdown-menu">
              <a value="6" class="dropdown-item">1</a>
              <a value="7" class="dropdown-item">2</a>
              <a value="8" class="dropdown-item">3</a>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12 mt-5">
                <button id="daily-workout" type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div id= "exercise-diagram" class="col-md-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <h1>database entries:</h1>
  {{#each data}}
    <h2>{{exercise_name}}</h2>
  {{/each}}
<script src="DOM/dashboard.js"></script>