<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form>
                  <div class="form-group">
                        <label for="formGroupExampleInput">Food</label>
                        <input type="text" class="form-control" id="foodInput" placeholder="Add a food">
                  </div>
                  <button type="button" class="btn btn-primary" id="add-food">Add</button>
                  <button type="submit" class="btn btn-primary" id="submit-food">Submit</button>
            </form>
        </div>
        <div class="col-md-8" id="foodBox">
          
        </div>
    </div>
</div>
