<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/login.css">
</head>

<body>

  <header id="navbar-label">
    <h1>SandFit Fitness App</h1>
  </header>
  <!-- Default form login -->
  <form class="text-center p-5" action="/login" method="POST">

    <p class="h4 blue-me mb-4">Sign in</p>

    <!-- Email -->
    <input type="email" name="email" id="loginEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="password" name="password" id="loginPassword" class="form-control mb-4" placeholder="Password">

    <div class="d-flex justify-content-around">
      <div>
        <!-- Remember me -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
          <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
        </div>
      </div>
      <div>
        <!-- Forgot password -->

      </div>
    </div>
    <a class="blue-me" href="/">New to SandFit? Make an account!</a>
    <!-- Sign in button -->
    <button id="login-button" class="btn btn-block my-4" type="submit">Sign in</button>

    <!-- Register -->


  </form>

  <div class="header-after">
    <h1 id="header-register">What is SandFit?</h1>
  </div>
  <div class="container container-pic">

    <div class="img-group-2">
      <img id="fitguy" src="/images/fitguy.png" alt="not working">
      <p class="p-1">Customizable workouts!</p>

      <a href="/"><button class="btn waves-effect btn-fit-guy">Sign Up!</button></a>
    </div>
    <div class="img-group-2">
      <img id="fitguy" src="/images/vegtables.png" alt="not working">
      <p class="p-1">Calories Goals Specifically for you!
      </p>

      <a href="/"><button class="btn btn-2 waves-effect btn-fit-guy">Get Started</button></a>
    </div>
  </div>

  <div class="footer">
    <a class="footerP" href="/login">Already A User? Login In!</a>
    <a class="footerP" href="/password">Forgot Your password?</a>
  </div>
  <!-- Default form login -->

</body>

</html>