<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Password Recovery</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css"> --}}
  <link rel="stylesheet" href="/assets/register.css">
  <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">
</head>

<body id="body">

  <header id="navbar-label">
    <h1>SandFit Fitness App</h1>
  </header>

  <nav style="height:3em" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <p class="h3 text-center mt-1">Sign Up For SandFit!</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
  </div>
</nav>


<div class="container">
  <div class="row justify-content-center">
  

  <form id="behave" class="col-md-4 p-3" action="/" method="POST">
 
    
      <p class="title h4 mb-4">Recover Lost Password</p>

    <!-- Email -->
    <input type="email" name="email" id="recoverEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Sign in button -->
    <button id="login-button" class="btn btn-block my-4" type="submit">Send Recovery Email</button>

  </form>
  </div>
</div>

  <div class="footer">
    <a class="footerP" href="/login">Already A User? Login In!</a>
    <a class="footerP" href="/password">Forgot Your password?</a>
  </div>

  <!-- Default form register -->

</body>

</html>


