<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/survey.css">
</head>

<body>

  <div class="container">

    <img
      src="https://i2.wp.com/citris-uc.org/wp-content/uploads/2013/12/Health-blue-e1429679140877.jpg?resize=1013%2C567&ssl=1"
      id="bg" alt="">

    <div id="formContainer">

      <p id="title">Manage Your Stats</p>
      <div id="form">
        <form action="/survey" method="POST" id="surveyForm">
          <input name="weight" type="text" id="weight" placeholder="weight">
          <input name="height" type="text" id="height" placeholder='height'>
          <input name="age" type="text" id="age" placeholder='age'>
          <input name="gender" type="text" id="gender" placeholder='gender'>
          <input name="goal" type="text" id="goalWeight" placeholder='goal'>
          <button id="submit" type="submit">Check</button>
        </form>
      </div>
    </div>

  </div>


</body>

</html>