
#navbar-label{
    background:#2F66A9;
    height:7vh;
    width: 100%;
    color:white;
    margin-bottom:2vh;
    display:flex;
    justify-content:center;
    height: 5em;
    margin-bottom:0px;
  }
  
#cardHolder {
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    margin-bottom:10vh;
}
.card-img-top { 
    width:40vh;
    height:50vh;
}

.card {
    width:28%;
    /* height:100%; */
}
h1 {
    padding-top:10px;
    font-family: 'Literata', serif;

}

#userName {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Literata', serif;
}

#cal-calc {
    /* font-weight: bold; */
    padding-left: 190px;
    color:white;
}


.footer{
    color:#FFF;
    background:#000;
    height:10vh;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    padding:0;
    position: fixed;
    bottom: 0;
    width:100vw;
  }




